.modal-dialog
    form.modal-content(ng-submit="signIn()")
        .modal-header
            h3 Sign In
        .modal-body
            .row-fluid
                .span3 Email address:
                .span3
                    input(type="email", name="email", ng-model="email")
            .row-fluid
                .span3 Password:
                .span3
                    input(type="password", name="password", ng-model="password")
        .modal-footer
            button.btn.btn-default(ng-click="close(false)") Close
            input.btn.btn-primary(type="submit", value="Sign In", default=true) 