extends partial1

block game
    .field
        .middleLine
        .scoreBox
            .score#score1 {{score[0]}}
            .score#score2 {{score[1]}}
        .pad#pad1
        .pad#pad2
        .ball

