.container(on-key-down="move()", on-key-up="stop()", keys="[38, 40, 87, 83]")
    p.row-fluid Player 1: W and S
    p.row-fluid Player 2: UP and DOWN
    .row-fluid
        .field
            .middleLine
            .scoreBox
                .score#score1
                .score#score2
            .pad#pad1
            .pad#pad2
            .ball#ball
    .popUp {{ message }}