.container(on-keydown="move", on-keyup="stop", keys="[87, 83, 86, 75, 73]")
    p.row-fluid {{ user.userName }}: W and S
    p.row-fluid Player 2: I and K
    .row-fluid
        .field
            .middleLine
            .scoreBox
                .score#score1 {{ score[0] }}
                .score#score2 {{ score[1] }}
            .pad#pad1(ng-style="pad1style")
            .pad#pad2(ng-style="pad2style")
            .ball#ball(ng-style="ballstyle")
    .popUp(ng-show="status != 'Running'") {{ message }}