extends layout

block body
    .container-fluid
        form.navbar.navbar-fixed-top.navbar-form.pull-left(ng-controller="DialogCtrl")
            a.navbar-brand(href='#') Node Pong
            ul.nav.navbar-nav
                li
                    a(href='game') Game
                li
                    a(href='todo') Todo
                li
                    a.btn.btn-primary.navbar-btn(data-toggle="modal", type="button", href="#signInForm") {{ signInOutText }}
            p(ng-show="!!user").navbar-text Welcome, {{ user.email }}
    .container-fluid
        div(ng-view)

    .modal.fade#signInForm(ng-controller="SignInCtrl")
        .modal-dialog
            form.modal-content(ng-submit="signIn()")
                .modal-header
                    h3 Sign In
                .modal-body
                    .row-fluid
                        .span3 Email address:
                        .span3
                            input(type="email", name="email", ng-model="email")
                    .row-fluid
                        .span3 Password:
                        .span3
                            input(type="password", name="password", ng-model="password")
                .modal-footer
                    a.btn(ng-click="close(false)", href="") Close
                    input.btn.btn-primary.btn-default(type="submit", value="Sign In", default=true) 

    script(src="//code.jquery.com/jquery-latest.min.js").
    script(src='//s3.amazonaws.com/node-pong/assets/js/application.js').
