!!!
html(ng-app="nodePong")
    head
        meta(charset='utf8')
        meta(name='viewport', content='width=device-width')
        base(href='/')
        title Node Pong
        link(rel='stylesheet', href='//s3.amazonaws.com/node-pong/assets/css/application.css')
    body
        block body