!!!
html(ng-app="nodePong")
  head
    meta(charset='utf8')
    meta(name='viewport', content='width=device-width')
    base(href='/')
    title Node Pong
    link(rel='stylesheet', href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css')
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/css/pong.css')
  body
    block body