[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none; }

p.row-fluid {
  text-align: center; }

.popUp {
  text-align: center;
  position: relative;
  border-radius: 15px;
  border-color: blue;
  border-width: 4px;
  background: white;
  font-family: "Helvetica Neue";
  font-size: 72px;
  width: 450px;
  margin-right: auto;
  margin-bottom: 0;
  margin-left: auto;
  margin-top: -200px;
  color: blue;
  padding: 40px 20px 40px 20px;
  box-shadow: 0 3px 10px black; }

.field {
  position: relative;
  margin: 20px auto;
  height: 400px;
  width: 600px;
  background-color: white;
  border-radius: 12px;
  border-color: blue;
  border-width: 2px;
  border-style: solid; }

.middleLine {
  height: 400px;
  width: 16px;
  background-color: blue;
  position: absolute;
  left: 292px;
  top: 0; }

.scoreBox {
  height: 200px;
  width: 450px;
  position: absolute;
  left: 75px;
  top: 50px; }

.score {
  position: absolute;
  font-size: 72pt;
  font-family: "Helvetica Neue";
  text-align: center;
  color: blue;
  top: 0;
  width: 225px; }

.score#score1 {
  left: 0; }

.score#score2 {
  left: 225px; }

.pad {
  position: absolute;
  height: 100px;
  width: 10px;
  top: 150px;
  background-color: red; }

.pad#pad1 {
  left: 20px; }

.pad#pad2 {
  left: 570px; }

.ball {
  position: absolute;
  height: 20px;
  width: 20px;
  background-color: green;
  border-radius: 100%;
  top: 190px;
  left: 290px; }

table {
  margin: 20px auto;
  position: relative;
  width: 800px;
  text-align: center; }

td {
  width: 200px;
  text-align: center;
  border: 1px blue solid; }

tr {
  width: 800px;
  margin: 0 auto;
  position: relative; }

tr:nth-child(even) {
  background-color: #ddd; }
